import React from 'react';
import PropTypes from 'prop-types';

import {
  ${name} as Styled${name},
} from './styled';

export const ${name} = ({
  ...props
} = {}) => (
    <Styled${name} {...props}>
    </Styled${name}>
);

${name}.propTypes = {
  
};

${name}.defaultProps = {
  
};
